html {
    font-family: 'Liberation Sans', sans-serif;
}

body {
    background-color: rgb(140, 235, 135);

}

.header {
    background-image: url("../images/headerbackground.jpg");
    background-size: cover;
    color: white;
    padding-top: 100px;
    font-family: 'Komika Hand', sans-serif;
    position: relative;
    /*Position relative so logo will sit inside it*/
}

.title {
    text-align: center;
    background-color: rgb(3, 59, 3);
    font-size: 30px;
}

.navbar {
    background-color: rgb(3, 59, 3);
    color: white;
}

.navbar a {
    color: white;
}

.active {
    color: white !important;
    text-decoration: underline !important;
}

.navbar a:hover {
    color: white !important;
    text-decoration: underline !important;
}

h2 {
    text-align: center;
}

.form-group.row {
    padding-top: 10px;
}

/*Position is absolute to make it sit inside header container, is set to bottom left with left: 16px bottom: 15px*/
.logo {
    position: absolute;
    bottom: 15px;
    left: 16px;
    height: 100px;
    z-index: 1;
    /*z index above the background of title and navbar*/
    background-color: rgb(3, 59, 3);
    border-radius: 10%;
}


.bodyContent{
    width: 75%;
    margin: auto;
}

.introQuote{
    margin: auto;
    text-align: center;

}

.introParagraph{
    margin: auto;
    margin-bottom: 5%;
}

.homeImage img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.homeTestimonials {
    text-align: center;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #174418;
    color: white;
    text-align: center;
    font-family: 'Komika Hand', sans-serif;
}

.column {
    float: left;
    width: 33.33%;
}